# Ignore node_modules
node_modules/

# Ignore React build folder locally
# But allow it to be built on the server by Vercel
client/build/

# Ignore environment variable files
.env
.env.local

# Ignore Mac system files
.DS_Store
