# Ignore node_modules for all folders
node_modules/

# Ignore React build folder locally
# Allow it to be built on the server by Vercel
client/build/

# Ignore environment variable files
.env
.env.local

# Ignore Mac system files
.DS_Store

# Ignore .vercel directory
.vercel
